.main-landing-outer-div {
  background-color: #9c27b0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-width: 40%;
  max-width: 40%;
  min-height: 95%;
  max-height: 95%;
}
.main-landing-heading {
  color: white;
  text-align: center;
  font-weight: 100;
  font-size: xxx-large;
}

.main-landing-button {
  /* text-align: center; */
}
.main-landing-button > button {
  padding: 1rem 6rem;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: larger;
  cursor: pointer;
}
