.options-holder-playGround {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.robot-answer-image-holder > img {
  transform: rotate(180deg);
  scale: 0.8;
}

.playGround-outer-div {
  background-color: #e09feb !important;
  justify-content: space-around !important;
  position: relative;
}

.playGround-heading {
  font-size: xxx-large;
  font-weight: 900;
}

.option-holder-playGround {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}

.option-holder-playGround > img {
  cursor: pointer;
  scale: 1.5;
}

.play-again-result-playGround {
  text-align: center;
  font-size: 30px !important;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.play-again-result-playGround > button {
  padding: 1rem 2rem;
  border-radius: 10px;
  border: none;
  font-size: medium;
  cursor: pointer;
  background-color: #782587;
  color: white;
}

.score-holder-playGround {
  position: absolute;
  top: 15px;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.score-holder-playGround > img {
  cursor: pointer;
}
.score-holder-playGround > span {
  font-weight: 600;
  font-size: larger;
}
@media screen and (max-width: 480px) {
  .playGround-outer-div {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    border-radius: 0;
  }
}
