.main-playGroundHolder > div {
  width: fit-content;
  cursor: pointer;
}

.main-playGroundHolder {
  background-color: #69818d;
  width: fit-content;
  height: fit-content;
  padding: 0;
}

.block-holder-tick-tak {
  display: flex;
  gap: 0.5rem;
}

.tickTakBlock {
  background-color: white;
  padding: 1rem;
  min-width: 6px;
  min-height: 60px;
}

.winner-holder {
  text-align: center;
}
